.main {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.header {
    position: absolute; 
    top: 50%;
    right:10%;
}
.header h1 {
  color: rgb(255, 255, 255);
  font-size: 7em;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}
