
.category a {
  text-decoration: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.category a:hover {
    background-color: white;
}
.currentLink {
  color: blue;
}
.link {
  color: black;
}
