.category a {
  text-decoration: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
}
.category a:hover {
  background-color: white;
}
.currentLink {
  color: green;
  text-decoration: underline;
}
.link {
  color: black;
  text-decoration: none;
}
.nav {
  align-items: center;
  justify-content: center;
  flex: 1;
}
.removeFilter {
  color: rgb(184, 60, 29);
}
